<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credentials</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div>

    <body>
    <div th:replace="~{header}">Header</div>
    <div class="container">
        <h2>Введите реквизиты БД</h2>
        <form action="#" th:action="@{/inputcredentials}" th:object="${pgCredentials}" th:method="post">
            <div class="form-group">
                <label for="host">host:</label>
                <input type="host" class="form-control" id="host" placeholder="Enter host" name="host" th:field="*{host}"/>
            </div>
            <div class="form-group">
                <label for="database">database:</label>
                <input type="text" class="form-control" id="database" placeholder="Enter database" name="database" th:field="*{database}"/>
            </div>
            <div class="form-group">
                <label for="port">port:</label>
                <input type="text" class="form-control" id="port" placeholder="Enter port" name="port" th:field="*{port}"/>
            </div>
            <div class="form-group">
                <label for="user">user:</label>
                <input type="text" class="form-control" id="user" placeholder="Enter user" name="user" th:field="*{user}"/>
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input type="text" class="form-control" id="password" placeholder="Enter password" name="password" th:field="*{password}"/>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    </body>

</div>
</body>
</html>