<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credentials</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div>

    <body>
    <div th:replace="~{header}">Header</div>
    <div class="container">
        <h2>Введите реквизиты БД</h2>
        <form>
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="url" class="form-control" id="url" placeholder="Enter url" name="email">
            </div>
            <div class="form-group">
                <label for="user">Password:</label>
                <input type="user" class="form-control" id="user" placeholder="Enter user" name="user">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    </body>

</div>
</body>
</html>