<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Foreign Key Duplicate</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-brand" href="#">
                <img src="images/logo.png" style="width:32px;">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="foreignkeyduplicate">Поиск повторяющихся внешних ключей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="indexduplicate">Поиск повторяющихся индексов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pgsettings">Основные параметры</a>
        </li>
    </ul>
</nav>

<h2>Поиск повторяющихся внешних ключей</h2>
<div class="table-responsive">
<table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>Дочерняя таблица</th>
        <th>Дочерняя столбец</th>
        <th>Родительская таблица</th>
        <th>Родительский столбец</th>
        <th>Внешний ключ</th>
    </tr>
    </thead>
    <tr th:each="key : ${foreignKeyDuplicate}">
        <td th:text="${key.childTable}"></td>
        <td th:text="${key.childColumn}"></td>
        <td th:text="${key.parentTable}"></td>
        <td th:text="${key.parentColumn}"></td>
        <td th:text="${key.constraintName}"></td>
    </tr>
</table>
</div>
</body>
</html>