<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Duplicate</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-brand" href="#">
                <img src="images/logo.png" style="width:32px;">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="foreignkeyduplicate">Поиск повторяющихся внешних ключей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="indexduplicate">Поиск повторяющихся индексов</a>
        </li>
    </ul>
</nav>

<h2>Поиск повторяющихся индексов</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
    <tr>
        <th>Таблица</th>
        <th>Индекс</th>
        <th>Описание</th>
        <th>Первичный ключ</th>
    </tr>
    </thead>
    <tr th:each="index : ${indexduplicate}">
        <td th:text="${index.table}"></td>
        <td th:text="${index.index}"></td>
        <td th:text="${index.sql}"></td>
    </tr>
</table>
</div>





</body>
</html>