<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index unused</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{header}">Header</div>
<div class="px-3">
    <p>Условие поиска:</p>
    <ol>
        <li>Более 100 полных проходов по таблице</li>
        <li>Таблица не пуста</li>
        <li>Индекс не используется</li>
        <li>Исключаем из выборки первичные ключи</li>
        <li>Индекс не UNIQUE</li>
    </ol>
</div>

</body>
</html>