<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Primary settings</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="~{header}">Header</div>

<h2> Основные параметры кластера</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Наименование</th>
            <th>Значение * ед.измерения</th>
            <th>Значение</th>
            <th>Ед.измерения</th>
            <th>Минимум</th>
            <th>Максимум</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tr th:each="settings : ${primarySettings}">
            <td th:text="${settings.name}"></td>
            <td th:text="${settings.value}"></td>
            <td th:text="${settings.setting}"></td>
            <td th:text="${settings.unit}"></td>
            <td th:text="${settings.min}"></td>
            <td th:text="${settings.max}"></td>
            <td th:text="${settings.description}"></td>
        </tr>
    </table>
</div>





</body>
</html>